html, body, #mapContainer {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}

/* The Locations List Container*/
#container {
  box-shadow: 10px 10px 8px #888888;
  position: absolute;
  top: 10px;
  width: 180px;
  left: 10px;
}

/* Location Search Box */
#location-input {
  font-size: 15px;
  position: absolute;
  width: 100%;
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  height: 45px;
}

#location-input:focus {
  border-color: #03dac6;
}


/* Locations Listings Container */
.user-selected-item-container {
  margin-top: 1px;
  background-color: #fff;
  border-radius: 0 0 5px 5px;
  overflow: hidden;
  margin-top: 50px;
}


/* Location List Items */
.user-selected {
  color: #001f3f;
  padding: 0 10px 0 15px;
  height: 45px;
  line-height: 50px;
  width: 100%;
  border-top: 1px solid #c6c6c6;
}

.user-selected:hover {
  background-color: #ffa500;
}


/* To be responsive */
@media screen and (max-width: 768px) {
  .user-selected-item-container-responsive-hide{
      display: none;
  }
  .user-selected-item-container-responsive-show{
      display: block;
  }
  .user-selected-item-container-responsive{
      display: none;
  }
}
@media screen and (min-width: 769px) {
  .user-selected-item-container-responsive-hide{
      display: none;
  }
  .user-selected-item-container-responsive-show{
      display: block;
  }
  .user-selected-item-container-responsive{
      display: block;
  }
}
